.filters {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.fa-chevron-up {
  color: white;
  margin-right: 10px;
}

.filter-button {
  margin-bottom: 30px;
  padding: 15px;
  margin-right: 20px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  i {
    margin-left: 15px;
    color: white;
  }
}

.search-ingredients,
.ingredients-list,
.ingredients-drop-down,
.ingredients-searchTerm,
.ingredient-tag {
  background-color: $primary-color;
}

.search-appliances,
.appliances-list,
.appliances-drop-down,
.appliances-searchTerm,
.appliance-tag {
  background-color: $secondary-color;
}

.search-ustensils,
.ustensils-list,
.ustensils-drop-down,
.ustensils-searchTerm,
.ustensil-tag {
  background-color: $third-color;
}

.ingredients-list,
.appliances-list,
.ustensils-list {
  border-radius: 5px;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
  p {
    width: 200px;
    color: white;
    padding: 15px;
  }
}

/*.is-open {
  display: flex;
  animation-name: openedlist;
  animation-duration: 1s;
}
*/

.ingredients-drop-down,
.appliances-drop-down,
.ustensils-drop-down {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.ingredients-drop-down,
.appliances-drop-down,
.ustensils-drop-down {
  display: none;
}

@keyframes openedlist {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
  }
}

.tag-style {
  i {
    margin-left: 10px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 11px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin:0 10px 10px 0;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  margin-top:30px;
}

