*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 50px 0 50px;
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
}
header img {
  width: 400px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input {
  width: 100%;
  border: none;
  background: #e7e7e7e7;
  border-right: none;
  padding: 15px;
  height: 70px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton {
  width: 40px;
  height: 70px;
  border: none;
  background: #e7e7e7e7;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-radius: 5px;
  width: 300px;
  background-color: #e7e7e7e7;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 360px;
}
.recipe-card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.title i {
  margin-right: 5px;
}

.description {
  display: flex;
}

.ingredients p {
  display: flex;
  font-size: 11px;
}

.recipe-description {
  font-size: 11px;
  width: 50%;
}

@media screen and (max-width: 576px) {
  header img {
    width: 220px;
  }

  .searchButton {
    height: 50px;
  }

  input {
    height: 50px;
  }

  button {
    height: 50px;
  }

  main {
    padding: 0 10px 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .recipes-list {
    justify-content: space-evenly;
  }
}
.filters {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.fa-chevron-up {
  color: white;
  margin-right: 10px;
}

.filter-button {
  margin-bottom: 30px;
  padding: 15px;
  margin-right: 20px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  border: none;
}
.filter-button i {
  margin-left: 15px;
  color: white;
}

.search-ingredients,
.ingredients-list,
.ingredients-drop-down,
.ingredients-searchTerm,
.ingredient-tag {
  background-color: #3282f7;
}

.search-appliances,
.appliances-list,
.appliances-drop-down,
.appliances-searchTerm,
.appliance-tag {
  background-color: #68d9a4;
}

.search-ustensils,
.ustensils-list,
.ustensils-drop-down,
.ustensils-searchTerm,
.ustensil-tag {
  background-color: #ed6454;
}

.ingredients-list,
.appliances-list,
.ustensils-list {
  border-radius: 5px;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;
}
.ingredients-list p,
.appliances-list p,
.ustensils-list p {
  width: 200px;
  color: white;
  padding: 15px;
}

/*.is-open {
  display: flex;
  animation-name: openedlist;
  animation-duration: 1s;
}
*/
.ingredients-drop-down,
.appliances-drop-down,
.ustensils-drop-down {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}

.ingredients-drop-down,
.appliances-drop-down,
.ustensils-drop-down {
  display: none;
}

@keyframes openedlist {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
  }
}
.tag-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 11px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
.tag-style i {
  margin-left: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
